Source: hfsprogs
Section: non-free/otherosfs
XS-Autobuild: yes
Priority: optional
Maintainer: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>
Build-Depends: debhelper-compat (= 12),
               dh-exec,
               libbsd-dev,
               libssl-dev,
                uuid-dev
Standards-Version: 4.5.0
Homepage: https://opensource.apple.com/source/diskdev_cmds/
Vcs-Browser: https://salsa.debian.org/debian/hfsprogs
Vcs-Git: https://salsa.debian.org/debian/hfsprogs.git

Package: hfsprogs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: mkfs and fsck for HFS and HFS+ file systems
 The HFS+ file system used by Apple Computer for their Mac OS is
 supported by the Linux kernel.  Apple provides mkfs and fsck for
 HFS+ with the Unix core of their operating system, Darwin.
 .
 This package is a port of Apple's tools for HFS+ filesystems.
 .
 For users, HFS+ seems to be a good compromise to carry files between
 MacOS X and Linux Machines, as HFS+ doesn't suffer the problems of
 FAT32 like:
 .
  * huge space waste (in slack space as devices grow faster);
  * ability to create files that are more than 4GB in size (especially
    good for those working with multimedia and that need to carry large
    ISO files);
  * ability to use case preserving (and even sensitivity!);
  * ability to use uid's and gid's on the filesystem.
 .
 Users in general can enjoy such benefits since it is expected to have
 more HFS+ filesystems in use, as Apple has announced Macintoshes for
 ix86-64, besides the filesystem being already supported by PowerPC
 systems since the beginning.

Package: hfsprogs-udeb
XC-Package-Type: udeb
Architecture: any
Section: non-free/debian-installer
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: stripped-down version of hfsprogs, for debian-installer
 This package is a hfsprogs package built for reduced size, so that it
 can help to save space in debian-installer.
 .
 Don't attempt to install this package, it has no support for a couple of
 features you surely want.  Anyway, it should fail to install.
